*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

:root {
    --dark: #457b9d;
    --darkest: #1d3557;
    --accent: #e63946;
    --light: #f1faee;
    --main: #a8dadc;
}

body {
    height: 100vh;
    width: 100vw;
    color: var(--darkest);
    background-color: var(--main);
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    background-color: var(--light);
    color: var(--darkest);
    padding: 30px 80px;
    border: 2px solid var(--dark);
    border-radius: 10px;
}

button {
    appearance: none;
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 5px;
    box-shadow: 2px 3px 2px var(--dark);
    transition: .2s;
}

button:hover,
input[type="checkbox"]:hover {
    transform: translate(-1px, -2px);
    transition: .2s;
    box-shadow: 2px 5px 2px var(--dark);
    border: 2px solid var(--accent);
}

button:active {
    transform: translate(1px, 2px);
    transition: .2s;
    box-shadow: none;
}

.new-btn,
.submit-btn {
    padding: 5px 20px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--light);
    margin: 0 auto;
    font: inherit;
    color: var(--darkest);
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--dark);
    border-radius: 5px;
    box-shadow: 2px 3px 2px var(--dark);
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]:before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: .2s transform ease-in-out;
    box-shadow: inset 1em 1em var(--darkest);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked:before {
    transform: scale(1);
}

input:focus-visible,
button:focus-visible {
    outline: max(2px, 0.15em) solid var(--accent);
    outline-offset: max(3px, 0.15em);
}

input[type="text"],
input[type="number"] {
    appearance: none;
    border: 2px solid var(--dark);
    border-radius: 5px;
    padding: 0 .15em;
}

#form-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}

form {
    /* Visibility toggles on new book button */
    display: flex;
    /* Flex settings once visible */
    flex-direction: column;
    justify-content: space-around;
    /* Position absolutely in the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: clamp(200px, 30vh, 300px);
    width: clamp(150px, 20vw, 250px);
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;
    background-color: var(--light);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.check-wrapper {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 40px;
}

.table-wrapper {
    width: calc(100% - 80px);
    padding: 20px 0px 30px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.book-table {
    width: calc(100% - 80px);
    border-collapse: collapse;
}

th,
td {
    padding: 2px;
    vertical-align: middle;
}

.book-info {
    text-align: left;
}

.book-long {
    width: calc(.5 * (70%));
}

.book-short {
    width: 10%;
}

th {
    border-bottom: 2px solid var(--dark);
}

.td-wrapper {
    text-align: center;
}

.remove-btn {
    width: 3ch;
    height: 1.2rem;
    background: url(images/delete.svg);
    background-size: 3ch 1.2rem;
    background-repeat: no-repeat;
    transform: translateY(-2px);
}