*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#form-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}

form {
    /* Visibility toggles on new book button */
    display: flex;
    /* Flex settings once visible */
    flex-direction: column;
    justify-content: space-around;
    /* Position absolutely in the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: clamp(200px, 30vh, 300px);
    width: clamp(150px, 20vw, 250px);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;
    background-color: white;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 40px;
}

.book-table {
    width: calc(100% - 80px);
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid black;
}

.remove-btn {
    width: 3ch;
    height: 1.2rem;
    background: url(images/delete.svg);
    background-size: 3ch 1.2rem;
    background-repeat: no-repeat;
}